* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}


ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  margin-top: 10px;
  align-content: center;
  background: linear-gradient(135deg, #b7ff89 0%, #5bfd6e 50%, #a3fffa 100%);
  height: fit-content;
}

ul li a {
  display: block;
  cursor: pointer;
  color: rgb(73, 72, 72);
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #e0f7e6;
}

.container {
    background: linear-gradient(135deg, #9bf0ff 0%, #3fb2ff 50%, #9effb8 100%);
    width: 100%;

}

.cards{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.btnn{
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #04fc90 0%, #89f0dd 50%, #53f871 100%);  
    border-radius: 5px;
    width: 110px;
    height: 30px;

}

.btnn:hover{
    background-color: rgb(160, 255, 168);
}
