<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/course.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="items">
                <ul class="itemss">
                    <li><a href="#">Places</a></li>
                    <li><a href="#">Recommended</a></li>
                    <li><a href="#">Favourites</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="cards">
            <div class="card">
                <img src="../static/img/Untitled.jpeg">
                <h2>fffffffff</h2>
                <button class="btnn">Add to Learning</button>
            </div> 

            <div class="card">
                <img src="../static/img/Untitled.jpeg">
                <h2>fffffffff</h2>
                <button class="btnn">Add to Learning</button>
            </div> 

             <div class="card">
                <img src="../static/img/Untitled.jpeg">
                <h2>fffffffff</h2>
                <button class="btnn">Add to Learning</button>
            </div> 
            <div class="card">
                <img src="../static/img/Untitled.jpeg">
                <h2>fffffffff</h2>
                <button class="btnn">Add to Learning</button>
            </div> 
            <div class="card">
                <img src="../static/img/Untitled.jpeg">
                <h2>fffffffff</h2>
                <button class="btnn">Add to Learning</button>
            </div> 

            <div class="card">
                <img src="../static/img/Untitled.jpeg">
                <h2>fffffffff</h2>
                <button class="btnn">Add to Learning</button>
            </div> 

             <div class="card">
                <img src="../static/img/Untitled.jpeg">
                <h2>fffffffff</h2>
                <button class="btnn">Add to Learning</button>
            </div> 
            <div class="card">
                <img src="../static/img/Untitled.jpeg">
                <h2>fffffffff</h2>
                <button class="btnn">Add to Learning</button>
            </div> 



        </div>
    </div>


</body>
</html>