<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="page-wrapper skills-bg">
        <div class="auth-container">
            <div class="auth-left purple-gradient">
               

               <img src="../static/img/Untitled.jpeg">


            </div>

            <form method="post" class="auth-right">
               
            
                <div class="ddl">
                      <select id="experience" name="selectedExperience">
                       <option value="" selected>Choose Your Experience</option>
                       <option value="web" >Web Development</option>
                       <option value="app">App Development</option>
                       <option value="db">Database Administrator</option>
                       <option value="ml">Machine Learning</option>
                       <option value="cys">Cyber Security</option>
                      </select>
                </div>


                <div class="ddl">
                      <select id="level" name="selectedLevel">
                        <option value="" selected>Choose Your Level</option>
                       <option value="beginner">Beginner</option>
                       <option value="intermediate">Intermediate</option>
                       <option value="advanced">Advanced</option>
                      </select>
                </div>


                <div class="ddl">
                      <select id="major" name="selectedMajor">
                       <option value="se" selected>Choose Your Major</option>
                       <option value="se">Software Engineering</option>
                       <option value="cs">Computer Science</option>
                       <option value="cys">Cyber Security</option>
                       <option value="ai">Artificial Intelligence</option>
                      </select>
                </div>


                <div class="ddl">
                      <select id="timeinterbal" name="selectedTimeinterbal">
                       <option value="1" selected>Choose Your Time Interbal</option>
                       <option value="1">One Week</option>
                       <option value="2">Two Weeks</option>
                       <option value="3">Three Weeks</option>
                       <option value="4">One Month</option>
                      </select>
                </div>

<div class="ddl">
    <button type="submit" class="btn-primary purple-btn">Next</button>

</div>

            </form>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html> 